<!DOCTYPE html>
<html style="background-color: #87CEFA !important;">

<head>
    <link rel='stylesheet' type='text/css' href='https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.11.0//maps/maps.css'>
    <script src="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.11.0/maps/maps-web.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://api.tomtom.com/maps-sdk-for-web/cdn/plugins/SearchBox/3.1.3-public-preview.0/SearchBox.css" />
    <script src="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.1.2-public-preview.15/services/services-web.min.js"></script>
    <script src="https://api.tomtom.com/maps-sdk-for-web/cdn/plugins/SearchBox/3.1.3-public-preview.0/SearchBox-web.js"></script>

    <style>

        #map {
            height: 614px;
            width: 100%;
            align-content: center;
        }

    </style>

    <style>

        .logout {
            width: 10px;
            height: 10px;
            font-family: Arial, Helvetica, sans-serif;
            animation: myanim 5s infinite;
            color: brown;
        }

        @keyframes myanim {
            70% {
                font-size: 30px;
            }
        }

    </style>

</head>

<body>

    <div id='map'></div>

    <script>

        var apiKey = '4InA575PMct51e24cB4XKcQrGYDsaHQw'
        var map = tt.map({
            key: apiKey,
            container: 'map',
            center: { lat: 39.742043, lng: -104.991531 },
            zoom: 12,
            pitch: 50,
            geopoliticalView: '',
            style: {
                map: "basic_night-lite",
                trafficFlow: "flow_relative-delay",
                trafficIncidents: "incidents_night",
            },
            stylesVisibility: {
                trafficIncidents: true,
                trafficFlow: true
            }
        });

    </script>

    <script>

        var options = {
            searchOptions: {
                key: apiKey,
                language: "en-GB",
                limit: 5,
            },
            autocompleteOptions: {
                key: apiKey,
                language: "en-GB",
            },
            labels: {
                noResultsMessage: 'No results found.'
            },
            distanceFromPoint: '39.742043, -104.991531',
            units: 'miles'
        }

        var ttSearchBox = new tt.plugins.SearchBox(tt.services, options)
        var searchMarkersManager = new SearchMarkersManager(map)
        ttSearchBox.on("tomtom.searchbox.resultsfound", handleResultsFound)
        ttSearchBox.on("tomtom.searchbox.resultselected", handleResultSelection)
        ttSearchBox.on("tomtom.searchbox.resultfocused", handleResultSelection)
        ttSearchBox.on("tomtom.searchbox.resultscleared", handleResultClearing)
        map.addControl(ttSearchBox, "top-left")

        function handleResultsFound(event) {
            var results = event.data.results.fuzzySearch.results

            if (results.length === 0) {
                searchMarkersManager.clear()
            }
            searchMarkersManager.draw(results)
            fitToViewport(results)
        }

        function handleResultSelection(event) {
            var result = event.data.result
            if (result.type === "category" || result.type === "brand") {
                return
            }
            searchMarkersManager.draw([result])
            fitToViewport(result)
        }

        function fitToViewport(markerData) {
            if (!markerData || (markerData instanceof Array && !markerData.length)) {
                return
            }
            var bounds = new tt.LngLatBounds()
            if (markerData instanceof Array) {
                markerData.forEach(function (marker) {
                    bounds.extend(getBounds(marker))
                })
            } else {
                bounds.extend(getBounds(markerData))
            }
            map.fitBounds(bounds, { padding: 100, linear: true })
        }

        function getBounds(data) {
            var btmRight
            var topLeft
            if (data.viewport) {
                btmRight = [
                    data.viewport.btmRightPoint.lng,
                    data.viewport.btmRightPoint.lat,
                ]
                topLeft = [data.viewport.topLeftPoint.lng, data.viewport.topLeftPoint.lat]
            }
            return [btmRight, topLeft]
        }

        function handleResultClearing() {
            searchMarkersManager.clear()
        }

        function SearchMarkersManager(map, options) {
            this.map = map
            this._options = options || {}
            this._poiList = undefined
            this.markers = {}
        }

        SearchMarkersManager.prototype.draw = function (poiList) {
            this._poiList = poiList
            this.clear()
            this._poiList.forEach(function (poi) {
                var markerId = poi.id
                var poiOpts = {
                    name: poi.poi ? poi.poi.name : undefined,
                    address: poi.address ? poi.address.freeformAddress : "",
                    distance: poi.dist,
                    classification: poi.poi ? poi.poi.classifications[0].code : undefined,
                    position: poi.position,
                    entryPoints: poi.entryPoints,
                }
                var marker = new SearchMarker(poiOpts, this._options)
                marker.addTo(this.map)
                this.markers[markerId] = marker
            }, this)
        }

        SearchMarkersManager.prototype.clear = function () {
            for (var markerId in this.markers) {
                var marker = this.markers[markerId]
                marker.remove()
            }
            this.markers = {}
            this._lastClickedMarker = null
        }

        function SearchMarker(poiData, options) {
            this.poiData = poiData
            this.options = options || {}
            this.marker = new tt.Marker({
                element: this.createMarker(),
                anchor: "bottom",
            })
            var lon = this.poiData.position.lng || this.poiData.position.lon
            this.marker.setLngLat([lon, this.poiData.position.lat])
        }

        SearchMarker.prototype.addTo = function (map) {
            this.marker.addTo(map)
            this._map = map
            return this
        }

        SearchMarker.prototype.createMarker = function () {
            var elem = document.createElement("div")
            elem.className = "tt-icon-marker-black tt-search-marker"
            if (this.options.markerClassName) {
                elem.className += " " + this.options.markerClassName
            }
            var innerElem = document.createElement("div")
            innerElem.setAttribute(
                "style",
                "background: white; width: 10px; height: 10px; border-radius: 50%; border: 3px solid black;"
            )

            elem.appendChild(innerElem)
            return elem
        }

        SearchMarker.prototype.remove = function () {
            this.marker.remove()
            this._map = null
        }

        ttSearchBox.on("tomtom.searchbox.resultsfound", function (data) {
            console.log(data)
        })

    </script>

    <a href="{{ url_for('logout') }}" class="logout">Logout</a>

    <h3 class="align_center_greeting" style="text-align: center !important; font-size: 30px; border-top: -100px; color: salmon;">{{msg}}</h3>

    <div class="color-code-section" style="text-align: center !important; font-size: 20px;">
        <h4 style="text-decoration: underline;">Color Codes</h4>
        <div class="color-code">
            <span class="color-code-yellow" style="color: yellow !important;">No traffic (Yellow) &#x1F539</span>
            <span class="color-code-green" style="color: green !important;">Light Traffic (Green) &#x1F539</span>
            <span class="color-code-orange" style="color: orange !important;">Normal Traffic/Lane Closures (Orange) &#x1F539</span>
            <span class="color-code-red" style="color: red !important;">Heavy Traffic/Construction (Red)</span>
        </div>
    </div>

    <p>Tip: Use the search bar to find specific landmarks/places &#x1F60E</p>
    <p style="text-align: right;"> &#xA9 TrafficBoss 2024 &#x1F680 Made with &#x2764 in Denver</p>

</body>
</html>
